.start h1 {
  color: #fb2576;
  text-shadow: 0px 3px 0px hsl(320, 100%, 15%);
}
.start button {
  border-bottom: 2rem;
  width: 140px;
  height: 30px;
  border-radius: 0.5rem;
  color: white;
  font-size: 0.9rem;
  background-color: #fb2576;
  font-family: "Titillium Web", sans-serif;
  border: none;
}
.start button:hover {
  background-color: #711337;
  transition: 0.3s;
  cursor: pointer;
}
.start p {
  color: white;
}
